* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #313030;
  font-family: proxima-nova, sans-serif;
}

.header {
  height: 60px;
  /* padding: 60px; */
  width: 100%;
  background: #5ccccc;
  position: fixed;
  border-bottom: 5px solid #3c8484;
  display: grid;
  grid-template-columns: 46px auto auto auto;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header__block__var {
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  padding-left: 40px;
}

.header__block__author {
  grid-column-start: 4;
  grid-column-end: 5;
  align-self: center;
  padding-right: 20px;
  /* right: 0; */
  text-align: end;
}

.header__block__img {
  grid-column-start: 1;
  grid-column-end: 2;
  height: 100%;
  padding-left: 20px;
  padding-top: 5px;
}

.footer__img__block {
  margin: auto;
  margin-right: 0;
  padding-right: 66px;
  grid-column-start: 2;
  grid-column-end: 3;
}

.footer__img__block img {
  width: 90px;
  height: 100px;
}

.footer__text__block {
  color: white;
  border-left: 3px solid;
  line-height: 70px;
  margin: auto;
  /* margin-left: 0; */
  font-size: 15pt;
  padding-left: 66px;
  display: flex;
  /* justify-content: left; */
  /* align-items: center; */
  grid-column-start: 3;
  margin-left: 0;
  grid-column-end: 4;
  /* text-align: center; */
}

.all__site__wrap {
  padding-top: 100px;
  height: 100%;
  display: grid;
  grid-template-columns: auto 70% auto;
}

.wrap__content {
  grid-column-start: 2;
  margin: auto;
}

.wrap__img__graph {
  text-align: center;
  margin: auto;
  grid-column-start: 2;
  position: ;
}

.footer {
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
  background: black;
  height: 250px;
  position: relative;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
}
